@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    font-family: 'Tajawal', sans-serif;
}

.custom-slider .swiper-button-prev:after, .custom-slider .swiper-button-next:after {
    font-size: 16px ;
    color: red;
    display: none;
    
}

.custom-prev {
    position: absolute;
    transform: rotate(90deg);
    top: 20px;
    left: -63px;
    z-index: 1000;
}


.custom-next {
    position: absolute;
    transform: rotate(-90deg);
    top: 17px;
    right: -63px;
    z-index: 1000;
}